#navbar {
    flex-direction: row;
    height: 70px;
    padding: 0px 0px;
}

#navbar ul {
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 2px 7px;
}

#logo img {
    margin: 0px 0px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#Home {
    height: 66vh;
    text-align: center;
    padding: 20px;
}

#Home p {
    font-size: 1rem;
}

.btn {
    font-size: 1rem;
    padding: 8px 16px;
}

#services3 {
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px 28px;
}

#services3 .services4 {
    width: 90%;
    margin: 10px 0;
}

#contact-box form {
    width: 90%;
}


.outside {
    height: 434px;
}

#navbar ul li a {
    padding: 4px 14px;
    font-size: 12px;
}

#Home h1 {
    font-size: 1.5rem;
    padding: 0;
    margin-top: -10px;
}

#Home p {
    font-size: 1.1rem;
}

.btn {
    font-size: 1.2rem;
}

#contact-box form {
    width: 70%;
}

#clientss {
    flex-wrap: wrap;
}

.center {
    font-size: 15px;
    margin: 0px;
    padding-top: 19px;
}

#about {
    padding: 24px;
    line-height: 1;
}

@media (max-width: 349px) {
    #navbar ul li a {
        padding: 4px 10px;
        font-size: 11px;
    }

    #navbar {
        height: 56px;
    }

    #contact-box input,
    #contact-box textarea,
    #contact-box button {
        margin-bottom: 0;
        padding: 5px;
        font-size: 0.7rem;
    }


    #contact-box label {
        font-size: 1.4rem;
    }
}

@media (max-width: 290px) {
    #navbar ul li a {
        padding: 4px 7px;
        font-size: 10px;
    }
}